/**
 * The CSS in this style tag is based off of Bear Blog's default CSS.
 *   https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
 *   License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 *
 * @format
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3c2a21;
  --primary-color-dark: #1a120b;
  --secondary-color: #ff9bd2;
  --text-color: #d5cea3;
  --text-color: #cccab7;
  --primary-color: #3c2a21;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  /* background-color: var(--primary-color); */
  background-image: radial-gradient(#1a120b 1px, var(--primary-color) 1px);
  background-size: 10px 10px;
}

body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  scroll-margin-top: 30px;
}

p,
span {
  color: var(--text-color);
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}