<div class="info">
  <slot />
</div>

<style>
  div.info {
    font-size: 1rem;
    padding: 10px;
    color: var(--text-color);
    margin: 10px 0;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid var(--color-info);
    background-color: color-mix(in srgb, var(--color-info), transparent 90%);
  }
</style>
