---
import type { CollectionEntry } from "astro:content"
import BoxHeading from "../components/BoxHeading.astro"
import Link from "../components/Link.astro"
import BaseDocument from "../components/BaseDocument.astro"

type Props = CollectionEntry<"demo">["data"]

const { title, description, heroImage } = Astro.props
---

<BaseDocument title={title} description={description} image={heroImage}>
  <main>
    <div class="container">
      <div class="heading">
        <div>
          <Link className="home-link" href="/">Home</Link>
        </div>
        <BoxHeading text={title} elem="h1" />
      </div>
      <article>
        <div class="content">
          <slot />
        </div>
        <hr />
        <div>
          <Link className="home-link" href="/#demos">More Demos</Link>
        </div>
      </article>
    </div>

    <style is:global lang="scss">
      .home-link {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid currentColor;
        font-size: 1.3rem;
        color: var(--text-color);
        margin-bottom: 20px;
        transition: 300ms;

        &:hover {
          background-color: var(--text-color);
          color: var(--primary-color);
        }
      }

      main {
        padding: 20px 0 200px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          background: var(--primary-color-dark);
          inset: 0px;
          z-index: -1;
          height: 200px;
          background-image: radial-gradient(
            var(--primary-color) 1px,
            var(--primary-color-dark) 1px
          );
          background-size: 10px 10px;
        }
      }

      .heading {
        margin-bottom: 20px;
      }

      hr {
        border-color: color-mix(in srgb, var(--text-color), transparent 60%);
        width: 50%;
        margin: 50px 0;
      }

      .content {
        font-size: clamp(1rem, 7vw, 1.4rem);

        a {
          color: var(--secondary-color);
          position: relative;

          &::before {
            content: "";
            width: 100%;
            position: absolute;
            background-color: var(--primary-color);
            height: 2px;
            left: 0;
            bottom: 0;
            border-radius: 10px;
          }

          &::after {
            content: "";
            width: 100%;
            position: absolute;
            background-color: var(--secondary-color);
            height: 2px;
            left: 0;
            bottom: 0;
            border-radius: 10px;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 300ms;
          }

          &:hover::after {
            transform: scaleX(1);
          }
        }

        p {
          margin: 20px 0;
          line-height: 1.4;
        }

        code:not([class]) {
          font-size: calc(100% - 4px);
          background-color: color-mix(
            in srgb,
            var(--primary-color-dark),
            transparent 30%
          );
          padding: 3px;
        }

        pre[class] {
          margin-bottom: 30px;
        }
      }
    </style>
  </main>
</BaseDocument>
